<div class="smooth-appear">

<section class="homepage-landing-section">
<app-page-generic-header [pageModel]="pageModel" [logoVariant]="true" ></app-page-generic-header>
</section>

<section class="company-intro d-flex flex-column align-items-center px-3 my-5">
  <div class="d-flex flex-column text-center">
    <p class="fs-3 fw-bold">
      Soluzioni su Misura
    </p>
    <p class="fs-5">
      Siamo esperti nella realizzazione degli imballaggi in legno su misura, garantendo la qualità, la tracciabilità e la soddisfazione dei nostri clienti.
    </p>
  </div>
</section>

<section class="cards-section mb-5 px-3">

  <div class="cards-container d-flex flex-column align-items-center gap-4">
    <ng-container *ngFor="let card of cards; let i = index">
      <app-card [cardContent]="card" [reverse]="i % 2 === 0"></app-card>
    </ng-container>
  </div>
</section>

<section class="certification-section fixed-background mb-5 px-3">
  <div class="certifications-container d-flex justify-content-center align-items-center flex-wrap gap-5 py-5">
    <ng-container *ngFor="let certificate of certifications">
    <app-animated-card [animatedCardContent]="certificate" ></app-animated-card>
    </ng-container>
  </div>
</section>
</div>
