@import "/src/assets/scss/variables.scss";

* {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

.image-info {
  position: relative;
  text-align: center;
  color: white;
  height: 330px;

  overflow-y: hidden;

  img {
    overflow-y: hidden;
    max-width: 100%;
    @media (max-width: 992px) {
      max-width: 150%;
      margin-left: 50%;
      transform: translateX(-50%);
    }
  }

  &::before {
    background: url("/assets/pattern/overlay-pattern2.png") rgba(0, 0, 0, 0.10);
    opacity: 0.4;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .brand-logo {
    fill: url(#gradient-horizontal) gray;

  }

  .brand-slogan {
    p {
      font-size: 3rem;
      line-height: 3rem;
    }

    text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 1em rgba(0, 0, 0, 0.33), 0 0 0.2em rgba(182, 182, 182, 0.16);
  }
}

#gradient-horizontal {
  --color-stop-1: rgb(215, 56, 42);
  --color-stop-2: rgb(174, 37, 39);
}

/* Centered text */
.absolute-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}

/*INTRO SECTION*/
.company-intro {
  div {
    max-width: 1200px;

    :first-child {
      color: $felli-light-red;
    }
  }

  line-height: 28px;
}

/*CARD SECTION*/
.cards-container {
}

/*CERTIFACETE SECTION*/
.certification-section {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-image: url('/assets/images/bg-homepage-certification.jpg');
}
