@import "/src/assets/scss/variables.scss";

.felli-animated-card_item {
  -ms-flex-preferred-size: calc(33.33333% - 30px);
  flex-basis: calc(33.33333% - 30px);
  overflow: hidden;
  border-radius: 28px;
}

.felli-animated-card-item_link {
  display: block;
  padding: 30px 20px;
  background-color: #121212;

  overflow: hidden;

  position: relative;
}

.felli-animated-card-item_link:hover,
.felli-animated-card-item_link:hover .felli-animated-card-item_date {
  text-decoration: none;
  color: #FFF;
}

.felli-animated-card-item_link:hover .felli-animated-card-item_bg {
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
}

.felli-animated-card-item_title {
  min-height: 87px;
  margin: 0 0 25px;

  overflow: hidden;

  font-weight: bold;
  font-size: 30px;
  line-height: 30px;
  color: #FFF;

  z-index: 2;
  position: relative;
}

.felli-animated-card-item_date-box {
  font-size: 18px;
  color: #FFF;

  z-index: 2;
  position: relative;
}

.felli-animated-card-item_date {
  font-weight: bold;
  color: #f9b234;

  -webkit-transition: color .5s ease;
  -o-transition: color .5s ease;
  transition: color .5s ease
}

.felli-animated-card-item_bg {
  height: 128px;
  width: 128px;
  &.blue{
    background: $prussian-blue;
    background-color: $felli-blue-gradient
  }
  &.red{
    background: $felli-dark-red;
    background-color: $felli-red-gradient;
  }

  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;

  border-radius: 50%;

  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

@media only screen and (max-width: 979px) {
  .felli-animated-card_item {
    -ms-flex-preferred-size: calc(50% - 30px);
    flex-basis: calc(50% - 30px);
  }
  .felli-animated-card-item_title {
    font-size: 24px;
  }
}

@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }

}

@media only screen and (max-width: 639px) {
  .felli-animated-card_item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .felli-animated-card-item_title {
    min-height: 72px;
    line-height: 1;

    font-size: 24px;
  }
  .felli-animated-card-item_link {
    padding: 22px 40px;
  }
  .felli-animated-card-item_date-box {
    font-size: 16px;
  }
}
