@import "/src/assets/scss/variables.scss";

.footer-container{
  min-height: 300px;
}

.footer-info{
  background-color: $prussian-blue;
  color: white;
}

.footer-copyright{
  background: $felli-dark-red;
  background-color: $felli-red-gradient;
  color: white;
}

.heading{
  color: $felli-light-red;
}

.nav-link-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  li{
    margin-bottom: 1rem;
  }
}
.social-icons{
  fill: white;
}

.nav-link:hover, .nav-link.active-page {
  box-shadow: inset 180px 0 0 0 $prussian-blue;
  color: white;
}
