<div class="footer-container smooth-appear">
  <ng-container>

    <!--Footer info-->
    <div class="footer-info p-3">
      <div class="row">
        <!--Logo e contatti-->
        <div class="col-12 logo-contacts d-flex flex-wrap justify-content-around gap-3">

          <!--Logo-->
          <div><img class="h-100 p-1" ngSrc="assets/images/brand/Felli_srl_vector_white.svg" alt="Felli srl brand logo"
                    height="150" width="150"></div>

          <!--Lista contatti todo stile delle a-->
          <div class="d-flex align-items-center align-items-sm-baseline align flex-column gap-3">
            <div class="d-flex align-items-center align-items-sm-baseline flex-column gap-2">
              <!--Intestazione Contatti-->
              <h3 class="fs-4 fw-bold heading mb-1">Contatti</h3>

              <!--Contatti Amministrazione-->
              <div class="d-flex flex-column">
                <div class="d-flex align-items-center gap-2">
                  <p class="fs-6 m-0">
                    Amministrazione
                  </p>
                  <mat-icon class="fs-5 h-100" arzia-hidden="false" aria-label="Icona amministrazione"
                            fontIcon="source_environment"></mat-icon>
                </div>
                <p class="m-0"><a href="tel:086378227">0863 78227</a> | <a
                  href="mailto:amministrazione@fellisrl.com">amministrazione@fellisrl.com</a>
                </p>
              </div>

              <!--Contatti Commerciale-->
              <div class="d-flex flex-column">
                <div class="d-flex align-items-center gap-2">
                  <p class="fs-6 m-0">
                    Commerciale
                  </p>
                  <mat-icon class="fs-5 h-100" arzia-hidden="false" aria-label="Icona commerciale"
                            fontIcon="sell"></mat-icon>
                </div>
                <p class="m-0"><a href="https://wa.me/3382477666">338 2477666</a> | <a
                  href="mailto:antoniofelli09@gmail.com">antoniofelli09@gmail.com</a></p>
              </div>

            </div>
            <div class="d-flex align-items-center align-items-sm-baseline flex-column gap-2">
              <!--Intestazione Social-->
              <h3 class="fs-4 fw-bold heading mb-1">Social</h3>

              <!--Icone social-->
              <div class="d-flex gap-3 social-icons">
                <button type="button" class="btn facebook-btn p-0" aria-label="Facebook">
                  <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="40" height="40" viewBox="0 0 48 48">
                    <path
                      d="M 24 4 C 12.972066 4 4 12.972074 4 24 C 4 35.027926 12.972066 44 24 44 C 35.027934 44 44 35.027926 44 24 C 44 12.972074 35.027934 4 24 4 z M 24 7 C 33.406615 7 41 14.593391 41 24 C 41 32.380773 34.967178 39.306373 27 40.720703 L 27 29 L 30.625 29 C 31.129 29 31.555188 28.623047 31.617188 28.123047 L 31.992188 25.123047 C 32.028188 24.839047 31.938047 24.553891 31.748047 24.337891 C 31.559047 24.122891 31.287 24 31 24 L 27 24 L 27 20.5 C 27 19.397 27.897 18.5 29 18.5 L 31 18.5 C 31.552 18.5 32 18.053 32 17.5 L 32 14.125 C 32 13.607 31.604844 13.174906 31.089844 13.128906 C 31.030844 13.123906 29.619984 13 27.833984 13 C 23.426984 13 21 15.616187 21 20.367188 L 21 24 L 17 24 C 16.448 24 16 24.447 16 25 L 16 28 C 16 28.553 16.448 29 17 29 L 21 29 L 21 40.720703 C 13.032822 39.306373 7 32.380773 7 24 C 7 14.593391 14.593385 7 24 7 z"></path>
                  </svg>
                </button>
                <button type="button" class="btn instagram-btn p-0" aria-label="Instagram">
                  <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="40" height="40" viewBox="0 0 48 48">
                    <path
                      d="M 16.5 5 C 10.16639 5 5 10.16639 5 16.5 L 5 31.5 C 5 37.832757 10.166209 43 16.5 43 L 31.5 43 C 37.832938 43 43 37.832938 43 31.5 L 43 16.5 C 43 10.166209 37.832757 5 31.5 5 L 16.5 5 z M 16.5 8 L 31.5 8 C 36.211243 8 40 11.787791 40 16.5 L 40 31.5 C 40 36.211062 36.211062 40 31.5 40 L 16.5 40 C 11.787791 40 8 36.211243 8 31.5 L 8 16.5 C 8 11.78761 11.78761 8 16.5 8 z M 34 12 C 32.895 12 32 12.895 32 14 C 32 15.105 32.895 16 34 16 C 35.105 16 36 15.105 36 14 C 36 12.895 35.105 12 34 12 z M 24 14 C 18.495178 14 14 18.495178 14 24 C 14 29.504822 18.495178 34 24 34 C 29.504822 34 34 29.504822 34 24 C 34 18.495178 29.504822 14 24 14 z M 24 17 C 27.883178 17 31 20.116822 31 24 C 31 27.883178 27.883178 31 24 31 C 20.116822 31 17 27.883178 17 24 C 17 20.116822 20.116822 17 24 17 z"></path>
                  </svg>
                </button>

              </div>

            </div>
          </div>

          <!--Posizione e voci di navigazione-->
          <div class="d-flex align-items-center align-items-sm-baseline flex-column gap-2">
            <!--Intestazione Mappa-->
            <h3 class="fs-4 fw-bold heading mb-1">Dove siamo</h3>
            <!--Mappa-->
            <div class="d-flex flex-column">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2962.40238635693!2d13.594505776093655!3d42.055993671222694!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1330213b358fb94d%3A0x8b855057fdcb30b2!2sFelli%20Srl!5e0!3m2!1sit!2sit!4v1699208414110!5m2!1sit!2sit"
                width="350" height="200" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade" class="rounded"></iframe>
            </div>
          </div>

          <div class="d-flex align-items-center align-items-sm-baseline flex-column gap-2">
            <!--Intestazione voci di navigazione-->
            <h3 class="fs-4 fw-bold heading mb-1">Continua a navigare</h3>

            <ul class="nav-link-list">
              <li class="fw-medium fs-5">- Home</li>
              <li class="fw-medium fs-5">- Gallery</li>
              <li class="fw-medium fs-5">- Chi Siamo</li>
              <li class="fw-medium fs-5">- Contatti</li>
              <li class="fw-medium fs-5">- Lavora con noi</li>
            </ul>

          </div>


        </div>
      </div>
    </div>

    <ng-template [ngTemplateOutlet]="footerCopyright"></ng-template>

  </ng-container>

  <ng-template #mobileFooter>
    <div class="footer-info p-3">

    </div>
    <ng-template [ngTemplateOutlet]="footerCopyright"></ng-template>
  </ng-template>
</div>

<!--Copyright todo add terms, privacy and p.iva?-->
<ng-template #footerCopyright>
  <div class="footer-copyright px-3 py-2 text-center">
    <p class="m-0">©2023 <span class="fs-6 fw-medium">Felli s.r.l.</span> - Tutti i diritti sono riservati</p>
  </div>
</ng-template>
