<section class="homepage-landing-section">
  <div class="image-info">
    <!--Img di sfondo-->
    <img id="indoor-image-preview" class="" alt="Business indoor preview"
         src="./assets/images/gallery/gallery-bg.jpg">
    <div class="absolute-content d-flex align-items-center justify-content-center gap-4 w-100 h-100 px-3">
      <!--Brand slogan-->
      <div class="brand-slogan">
        <p class="fw-bold fst-italic m-0 px-1">
          LAVORA CON NOI
        </p>
      </div>
    </div>
  </div>
</section>

<section class="work-with-us d-flex justify-content-center py-5">

  <div class="container">
    <h2 class="pb-2 fs-1 fw-bold border-bottom">Entra a far parte della grande famiglia!</h2>

    <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
      <div class="col d-flex flex-column align-items-start gap-2">
        <h3 class="fw-bold fs-3 text-body-emphasis">Left-aligned title explaining these awesome features</h3>
        <p class="text-body-secondary fs-6">Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
        <button class="btn btn-primary btn-lg">Candidati Adesso!</button>
      </div>

      <div class="col">
        <div class="row row-cols-1 row-cols-sm-2 g-4">
          <div class="col d-flex flex-column gap-2">
            <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
              <mat-icon class="fs-2 h-100 d-flex align-items-center justify-content-center" arzia-hidden="false" aria-label="Icona handshake"
                        fontIcon="handshake"></mat-icon>
            </div>
            <h4 class="fw-semibold mb-0 text-body-emphasis">Unisciti a Noi e Fai la Differenza</h4>
            <p class="text-body-secondary">Svariati motivi per candidarsi!</p>
          </div>

          <div class="col d-flex flex-column gap-2">
            <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
              <mat-icon class="fs-2 h-100 d-flex align-items-center justify-content-center" arzia-hidden="false" aria-label="Icona handshake"
                        fontIcon="handshake"></mat-icon>
            </div>
            <h4 class="fw-semibold mb-0 text-body-emphasis">La Tua Prossima Avventura Lavorativa Inizia Quì</h4>
            <p class="text-body-secondary">Canditati e Scopri Perché Dovresti Unirti a Noi!</p>
          </div>

          <div class="col d-flex flex-column gap-2">
            <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
              <mat-icon class="fs-2 h-100 d-flex align-items-center justify-content-center" arzia-hidden="false" aria-label="Icona handshake"
                        fontIcon="handshake"></mat-icon>
            </div>
            <h4 class="fw-semibold mb-0 text-body-emphasis">Unisciti a Noi per Realizzare il Tuo Potenziale Professionale</h4>
            <p class="text-body-secondary">Scopri le Opportunità di Crescita!</p>
          </div>

          <div class="col d-flex flex-column gap-2">
            <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
              <mat-icon class="fs-2 h-100 d-flex align-items-center justify-content-center" arzia-hidden="false" aria-label="Icona handshake"
                        fontIcon="handshake"></mat-icon>
            </div>
            <h4 class="fw-semibold mb-0 text-body-emphasis">Featured title</h4>
            <p class="text-body-secondary">Paragraph of text beneath the heading to explain the heading.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
