
<div class="card-container px-5 py-3 rounded-3 d-lg-flex"
     [ngClass]="{'flex-row-reverse':reverse,'flex-row':!reverse}">
  <div class="w-100 d-lg-flex"[ngClass]="{'justify-content-lg-end':reverse}">
    <img class="card-img-top" [src]="cardContent.imagePath" alt="Card image cap">
  </div>
  <div class="card-info container-fluid py-3" [ngClass]="{'text-lg-end':!reverse}">
    <h1 class="display-5 fs-3 fw-bold">{{cardContent.headingParagraph}}</h1>
    <p class="col-md-8" [ngClass]="{'reverse':!reverse}">{{cardContent.textParagraph}}</p>
    <button class="btn btn-primary btn-lg" (click)="cardContent.action()" type="button">{{cardContent.callToAction}}</button>
  </div>
</div>
