<div class="card d-flex flex-md-row">
  <div class="w-100">
    <img class="card-img-top h-100 w-100" [src]="cardContent.imagePath" alt="Card image cap">
  </div>
  <div class="card-body text-center bg-gradient-blue w-100">
    <div class="d-flex flex-column p-1 p-md-3 h-100">
    <p class="fs-3 fw-medium">
      {{cardContent.headingParagraph}}
    </p>
    <p class="fs-5">
      {{cardContent.textParagraph}}
    </p>
    <div class="d-flex justify-content-center align-items-center h-100">
      <button type="button" (click)="cardContent.action" class="btn btn-outline-light">{{cardContent.callToAction}}</button>
    </div>
    </div>
  </div>
</div>
