
.card-container {
  max-width: 1440px;
  background-color: #f1f1f1f1;

  .card-img-top {
    border-radius: 0.2rem;
    @media (min-width: 768px) {
      height: 400px !important;
      width: auto;
    }
  }

  .card-info {
    @media (max-width: 768px) {
      text-align: center;
    }

    p {
      font-size: 1.5rem;
      line-height: 1.5rem;
      @media (min-width: 768px) {
        &.reverse {
          margin-left: auto;
        }
        width: 66.66666667%;
      }
    }
  }
}
