/*Website palette sulla base del logo*/
$felli-light-red: rgb(215, 56, 42);
$felli-dark-red: rgb(174, 37, 39);
$felli-header-gradient: linear-gradient(45deg, $felli-light-red 0%, $felli-dark-red 100%);
$papaya-whip: rgba(253, 240, 213, 1);
$prussian-blue: rgba(0, 48, 73, 1);
$air-superiority-blue: rgba(102, 155, 188, 1);

