<section class="homepage-landing-section">
  <div class="image-info">
    <!--Img di sfondo-->
    <img id="indoor-image-preview" class="" alt="Business indoor preview"
         src="./assets/images/gallery/gallery-bg.jpg">
    <div class="absolute-content d-flex align-items-center justify-content-center gap-4 w-100 h-100 px-3">
      <!--Brand slogan-->
      <div class="brand-slogan">
        <p class="fw-bold fst-italic m-0 px-1">
          I NOSTRI PRODOTTI
        </p>
      </div>
    </div>
  </div>
</section>

<section class="products-carusel">
  <section class="pt-5 pb-5">
    <div class="container">
      <div class="row gy-2">
        <div class="col-6">
          <h3 class="mb-3 fw-medium fs-4">Showroom dei nostri prodotti </h3>
        </div>
        <div class="col-6">
          <div class="d-flex flex-row gap-2 justify-content-end">
          <button class="btn btn-outline-felli-red d-flex align-items-center justify-content-center" type="button" data-bs-target="#carouselProducts" data-bs-slide="prev">
            <mat-icon class="fs-2 w-100 h-100 d-flex align-items-center justify-content-center" arzia-hidden="false" aria-label="Icona amministrazione"
                      fontIcon="chevron_left"></mat-icon>
          </button>
          <button class="btn btn-outline-felli-red d-flex align-items-center justify-content-center" type="button" data-bs-target="#carouselProducts" data-bs-slide="next">
            <mat-icon class="fs-2 w-100 h-100" arzia-hidden="false" aria-label="Icona amministrazione"
                      fontIcon="chevron_right"></mat-icon>
          </button>
          </div>
        </div>
        <div class="col-12">
          <div id="carouselProducts" class="carousel slide" data-ride="carousel">

            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row">

                  <div class="col-md-4 mb-3">
                    <div class="card">
                      <img class="img-fluid" alt="100%x280" src="../../../../assets/images/gallery/1.jpg">
                      <div class="card-body">
                        <h4 class="card-title fs-5 fw-medium">Special title treatment</h4>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                      </div>

                    </div>
                  </div>
                  <div class="col-md-4 mb-3">
                    <div class="card">
                      <img class="img-fluid" alt="100%x280" src="../../../../assets/images/gallery/2.jpg">
                      <div class="card-body">
                        <h4 class="card-title fs-5 fw-medium">Special title treatment</h4>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 mb-3">
                    <div class="card">
                      <img class="img-fluid" alt="100%x280" src="../../../../assets/images/gallery/3.jpg">
                      <div class="card-body">
                        <h4 class="card-title fs-5 fw-medium">Special title treatment</h4>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                      </div>
                    </div>
                  </div>

                </div>
              </div>
              <div class="carousel-item">
                <div class="row">

                  <div class="col-md-4 mb-3">
                    <div class="card">
                      <img class="img-fluid" alt="100%x280" src="../../../../assets/images/gallery/4.jpg">
                      <div class="card-body">
                        <h4 class="card-title fs-5 fw-medium">Special title treatment</h4>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                      </div>

                    </div>
                  </div>
                  <div class="col-md-4 mb-3">
                    <div class="card">
                      <img class="img-fluid" alt="100%x280" src="../../../../assets/images/gallery/5.jpg">
                      <div class="card-body">
                        <h4 class="card-title fs-5 fw-medium">Special title treatment</h4>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 mb-3">
                    <div class="card">
                      <img class="img-fluid" alt="100%x280" src="../../../../assets/images/gallery/6.jpg">
                      <div class="card-body">
                        <h4 class="card-title fs-5 fw-medium">Special title treatment</h4>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                      </div>
                    </div>
                  </div>

                </div>
              </div>
              <div class="carousel-item">
                <div class="row">

                  <div class="col-md-4 mb-3">
                    <div class="card">
                      <img class="img-fluid" alt="100%x280" src="../../../../assets/images/gallery/7.jpg">
                      <div class="card-body">
                        <h4 class="card-title fs-5 fw-medium">Special title treatment</h4>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                      </div>

                    </div>
                  </div>
                  <div class="col-md-4 mb-3">
                    <div class="card">
                      <img class="img-fluid" alt="100%x280" src="../../../../assets/images/gallery/8.jpg">
                      <div class="card-body">
                        <h4 class="card-title fs-5 fw-medium">Special title treatment</h4>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 mb-3">
                    <div class="card">
                      <img class="img-fluid" alt="100%x280" src="../../../../assets/images/gallery/9.jpg">
                      <div class="card-body">
                        <h4 class="card-title fs-5 fw-medium">Special title treatment</h4>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>

<section class="carousel-section">
  <div class="d-flex align-items-center justify-content-center">
    <div class="gallery-container">
      <gallery id="mixed" class="mx-3"
               *ngIf="media$ | async; let config"
               thumbs
               [thumbWidth]="config.thumbWidth ?? 80"
               [thumbHeight]="config.thumbHeight ?? 80"
               [loadingAttr]="'lazy'" [loadingStrategy]="'preload'" [imageSize]="'cover'"
      >
        <ng-container *galleryImageDef="let item; active as active">
      <span *ngIf="active && item?.alt" @slideAnimation class="item-text">
        {{ item?.alt }}
      </span>
        </ng-container>
      </gallery>
    </div>
    <div></div>
  </div>
</section>
